body {
    background-color: #121720;
    font: 16px Lato;
    color: #71353e;
}

#container {
  width: 800px;
  margin: auto;
}

.title, .personnel {
	text-align: center;
}

.title {
	margin-top: 50px;
}
