
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
}

#landing{
    color:#f4eee1;
}

#fifteen{
    font-size:50px;
   
}
.bgimg {
    /* Background image */
    background-image: url('bigelephant.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    font-family: 'Century Gothic', sans-serif;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    font-size: 25px;
}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}




body {
    background-color: #121720;
    font-size: 1em;
    font-family: 'Century Gothic', sans-serif;
    color: #7d96a0;
    text-align: justify;
}

a{
    color: #71353e;
}

a:hover{
    color: #b57f51;
}
h1, h2, h3 {
    
    color: #b57f51;
}

h5{
   color: #71353e;
}

h3{
    margin-top: 100px !important;
    margin-bottom: 30px;
}

#container {
  width: 800px;
  margin: auto;
}

.title, .personnel {
	text-align: center;
}

.title {
	margin-top: 50px;
	font-size: 2em;
	font-weight: bold;
}

.boxonload{
    display:none;
    
}



#arrow {
  position: relative;
top:600px;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

/*
.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}
*/

@keyframes pulse {
  to {
    opacity: 1;
  }
}
