.axis line,.axis path{
  stroke: #71353e !important;
}


.line {
  fill: none;
  stroke: #a54d5b !important;
  stroke-width: 2px;
/*    border-style: dotted !important;*/
}


.bar{   
    fill:#71353e;
}


.axis text{
    fill:#7d96a0 !important;
    
}

.yaxisname{
    fill:#7d96a0;
}
.dot{
    cursor:pointer;
    fill:#ce974b;
stroke:#a54d5b;
    stroke-width: 1.5px;
    
}

.mouseText{
    fill: #ce974b !important;
}

.mouseTextLeave{
    fill: #b57f51 !important;
/*    stroke:#a54d5b;*/
}

.graphInfo{
   width: 100%;
   background-color: #33222a ; 
    border: none;
}

#imgg {
    margin: 5%;
    max-height: 100%;
    max-width: 100%;       
}

#yr {
    margin-top: 10px;
    color:#a54d5b  !important;
}

#des {
    margin:0px;
    margin-top:30px;
     margin-bottom:10px;
    color: #b57f51 !important;
    max-height: 100%;
    max-width: 100%;  
    font-size: 14px !important;
}

.col-md-12{
/*border: 1px solid black;*/

    width: 100%;
}

#chart{
    height: 500px;
}
#ym{
    width=100%;
    
}