
.line {
  fill: none;
  stroke: #7d96a0 !important;
  stroke-width: 2px;
}

.axis line,.axis path,.axis text{
  stroke: #7d96a0 !important;
}

.dot{
    fill:#a54d5b;
    stroke:#ce974b;
}

.mouseText{
    fill: #a54d5b !important;
}

.mouseTextLeave{
    fill: #523643 !important;
    stroke:#a54d5b;
}

.graphInfo{
   width: 100%;
   border: 2.5px solid #7d96a0; 
}

#imgg {
    margin: 5%;
    max-height: 100%;
    max-width: 100%;       
}

#yr {
    margin-top: 10px;
    color:#71353e  !important;
}

#des {
    margin:0px;
    margin-top:30px;
     margin-bottom:10px;
    color: #b57f51 !important;
    max-height: 100%;
    max-width: 100%;  
    font-size: 12px !important;
}

.col-md-12{
/*    border: 1px solid black` */
/*    height: 700px;*/
    width: 100%;
}

#ym{
    width=100%;
}