body {
    background-color: #121720;
    font-size: 1em;
    font-family: "Century Gothic";
    color: #7d96a0;
    text-align: justify;
}

a{
    color: #71353e;
}

a:hover{
    color: #b57f51;
}
h1, h2, h3 {
    
    color: #b57f51;
}

h5{
   color: #71353e;
}

h3{
    margin-top: 100px !important;
    margin-bottom: 30px;
}
#container {
  width: 800px;
  margin: auto;
}

.title, .personnel {
	text-align: center;
}

.title {
	margin-top: 50px;
	font-size: 2em;
	font-weight: bold;
}

.boxonload{
    display:none;
    
}
