/* SLIDER */

.Luciaaxis {
  font: 14px "Century Gothic";
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.Luciaaxis .domain {
  fill: none;
 /* stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;*/
}

.Luciaaxis .halo {
  fill: none;
  stroke: #7d96a0;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #ce974b;
  /*stroke: #000;*/
  /*stroke-opacity: .5;*/
  /*stroke-width: 1.25px;*/
  pointer-events: none;
}

/* LEGEND */

#legend-wrapper {
  text-align: left;
  color: #7d96a0;
  font-family: "Century Gothic";
  margin-bottom: 30px;
}

#legend-wrapper .first-line {
  margin-bottom: 10px;
}

/* PIE CHART */

.piechart {
  /*margin: 0 10px;*/
}

.piechart text {
  font: 16px "Century Gothic";
  text-anchor: middle;
}

/* ELEPHANTS */

#stat {
  margin-top: 20px;
}

#stat #year {
  color: #ce974b;
  font-size: 1.125em;
  margin-left: 5px;
  margin-right: 1px;
}

#stat #illegal {
  font-size: 2em;
  font-weight: bold;
  color: #71353e;
  margin-left: 10px;
  margin-right: 10px;
}

#stat #total {
  font-size: 2em;
  font-weight: bold;
  color: #71353e;
  margin-left: 10px;
  margin-right: 10px;
}

#elephant-wrapper {
  margin: 20px 0;
}